header {
    margin-bottom:1rem;
}

nav ul {
    padding:0;
    margin:0;
}

nav ul li {
    list-style-type:none;
    display:inline-block;
    margin-left:2rem;
}

html, body {
    height: 100%; /* Needed to make the sticky footer work */
    margin: 0; /* Override default margin */
}

body {
    display: flex;
    flex-direction: column; /* Stack content vertically */
}

.content {
    flex: 1 0 auto; /* Stretch the content to fill the space */
}

.footer {
    flex-shrink: 0; /* Ensure footer does not shrink */
}

/* Add your CSS styles here */
.card-img-top {
    width: 100%; /* Make the image responsive to the container width */
    height: 350px; /* Fixed height for all images */
    object-fit: cover; /* Cover the container without stretching the image */
    object-position: center; /* Center the image within the element's box */
}
/* Further styling for cards to ensure consistent look */
.card {
    height: 100%; /* Make sure all cards are the same height */
    display: flex;
    flex-direction: column; /* Stack the card content vertically */
}
.card-body {
    flex-grow: 1; /* Allow the card body to fill the space and push the footer down */
}
