header {
    margin-bottom:1rem;
}

nav ul {
    padding:0;
    margin:0;
}

nav ul li {
    list-style-type:none;
    display:inline-block;
    margin-left:2rem;
}

html, body {
    height: 100%; /* Needed to make the sticky footer work */
    margin: 0; /* Override default margin */
}

body {
    display: flex;
    flex-direction: column; /* Stack content vertically */
}

.content {
    flex: 1 0 auto; /* Stretch the content to fill the space */
}

.footer {
    flex-shrink: 0; /* Ensure footer does not shrink */
}
